<!DOCTYPE html>
<html>
<head>
  <title>Ruby on Rails Tutorial Sample App | <%= @title %></title>
  <%= render :partial => 'missing', :formats => [:html] %>
  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tag %>

</head>
<body>
   <%= yield %>
</body>
</html>